click
crewai
crewai-tools
langchain
langsmith
litellm
fastapi
google-api-python-client
google-ai-generativelanguage
google-auth
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-resource-manager
pydantic
openai
jsonschema
